body {
  background-image: url(../img/darth_stripe.png);
}

.logo {
  font-family: 'Modak', cursive;
}

.logo a {
  color: rgba(255,255,255,.95);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
